@import 'components/reset';
@import 'components/navbar';
@import 'components/variables';
@import 'components/fonts';
@import 'components/searh-section';
@import 'components/steps-section';
@import 'components/last-section';
@import 'components/footer';
@import 'components/filter-section';
@import 'components/search-result';
@import 'components/description';

body {
  background: white;
  font-family: Quicksand-Variable, sans-serif;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.m-auto {
  margin: auto;
}

.bg-red {
  background-color: $red-color;
}

.bg-one {
  background-color: $primary-color;
}

.bg-two {
  background-color: desaturate($third-color, 60%);
}

.bg-three {
  background-color: $third-color;
}

.bg-black {
  background-color: $black-one;
}

.bg-dark-gray {
  background-color: lighten($black-one, 10%);
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.text-color-one {
  color: $primary-color;
}

.text-color-two {
  color: desaturate($third-color, 60%);
}

.text-color-three {
  color: $gray-one;
}

.rounded {
  border-radius: 50%;
}

.d-flex-row {
  @include display-flex(row);

  justify-content: space-between;
}

button:hover {
  background-color: $hover-color;
  color: invert($hover-color);
  cursor: pointer;
}
