@mixin button($bg-color) {
  padding: 0.8rem 2rem;
  border: 1px solid gray;
  border-radius: 0.2rem;
  background-color: $bg-color;
}

@mixin footer-buttons {
  padding: 0.5rem;
  color: white;
}

@mixin button-font($font-color) {
  color: $font-color;
  font-size: 0.85rem;
  font-weight: bolder;
  margin-top: 1rem;
}
