.button {
  padding: 0.8rem 2rem;
  border: 1px solid gray;
  border-radius: 0.2rem;
}

.footer-buttons {
  padding: 0.5rem;
  color: white;
}

.button-font {
  font-size: 0.85rem;
  font-weight: bolder;
  margin-top: 1rem;
}
