$border-theme: 1px solid  darken($gray-one, 70%);

.ul-container {
  padding: 2rem;
  text-align: center;
  position: relative;
}

.ul-bottom {
  margin-top: 0rem;
}

.ul-footer {
  font-size: 0.8rem;
  border-top: $border-theme;
  border-bottom: $border-theme;
  padding: 1rem 0;

  a {
    text-decoration: none;
    font-weight: bolder;
  }

  li {
    margin: 0.5rem;
    display: inline;
  }
}

.logo-footer-container {
  background-color: $black-one;
  margin: auto;
  $width-logo: 5rem;

  width: $width-logo;
  height: $width-logo;
  border: $border-theme;
  border-radius: 50%;

  img {
    padding: 1.6rem;
    width: $width-logo;
  }
}
