$box-size: 100%;

.bg-features {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0.5rem 0.5rem 0.3rem 0 #1f1f1f60;
}

@mixin bg-image($image-path) {
  background-image: linear-gradient(#140909, #00000063, #0e0e0e), url($image-path);

  @extend .bg-features;
}

$number-of-images: 9;

@for $i from 1 through $number-of-images {
  .bg-image-#{$i} {
    @include bg-image('/assets/images/bg-#{$i}.jpg');
  }
}

.result-section {
  h1 {
    text-align: center;
  }
}

.searh-iten {
  @extend .display-flex;

  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: $box-size;
  height: $box-size;
  padding: 1rem;

  .description-selector {
    display: block;
    width: 100%;

    @extend .button-font;

    padding: 0.7rem;
    background-color: $primary-color;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  a {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.results-container {
  padding: 3rem;
  background-color: transparentize($primary-color, 0.8);
  border-radius: 1rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10.2em, 1fr));
  grid-gap: 1rem;
}

@media screen and (min-width: 1024px) {
  .results-container {
    grid-template-columns: repeat(5, 1fr);
    margin: 2rem auto;
    width: 85%;
  }
}
