$red-color: #d14949;
$primary-color: #e75744;
$secondary-color: lighten(invert($primary-color), 75%);
$third-color: invert($primary-color);
$hover-color: adjust-hue(lighten($third-color, 55%), -80deg);
$gray-one:#f0f0f0;
$black-one: #181818;
