$red-color: #d14949;
$primary-color: #e75744;
$secondary-color: lighten(invert($primary-color), 75%);
$third-color: invert($primary-color);
$hover-color: lighten($third-color, 50%);
$gray-one:#f0f0f0;
