* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  z-index: 1;
  top: 0;
  position: sticky;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
  color: white;
}

.navbar img {
  width: 1.5rem;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline;
}

.navbar button {
  color: white;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #ec7768;
}

.navbar button i {
  font-size: 1.3rem;
}

.bg-primary {
  background-color: #e75744;
  border-bottom: 0.1rem solid gray;
}

.brand {
  margin: 0.5rem;
  width: 11rem;
  font-size: 1.5rem;
  font-weight: bolder;
}

.d-inline {
  display: inline;
}

.nav-text-display {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .navbar li {
    padding-right: 1rem;
  }
  .navbar li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  .navbar li a:hover {
    text-decoration: underline;
  }
  .navbar li:hover {
    background-color: #ec7768;
  }
  .navbar button {
    padding: 0.8rem 0.8rem;
  }
  .nav-text-display {
    display: inline;
  }
}

@font-face {
  font-family: Quicksand-Variable;
  src: url("/assets/fonts/Quicksand-VariableFont_wght.ttf");
}

.search-section {
  background-image: linear-gradient(#140909, #03030334, #0e0e0e), url("/assets/images/BG-imge-searh-section.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  padding-top: 5rem;
  text-align: center;
}

.search-section button {
  padding: 0.8rem 2rem;
  border: 1px solid gray;
  border-radius: 0.2rem;
  background-color: white;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 2rem;
  text-align: center;
}

.header-styling {
  font-weight: bolder;
  font-size: 1.1rem;
  line-height: 1.5rem;
  width: 90vw;
  padding: 1rem 0;
  color: white;
  text-align: center;
}

.search-form {
  font-weight: bolder;
  line-height: 2.5rem;
  width: 90vw;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.search-form input {
  padding: 0.8rem 2rem;
  border: 1px solid gray;
  border-radius: 0.2rem;
  background-color: white;
  font-size: 0.8rem;
  font-weight: bold;
  width: 100%;
}

.search-form .button-form {
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 0.4rem;
  width: 100%;
  padding: 0.8rem 2rem;
  border: 1px solid gray;
  border-radius: 0.2rem;
  background-color: #e75744;
}

.d-flex-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .d-flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .search-form {
    max-width: 60rem;
    padding: 2rem;
  }
  .search-form .button-form {
    color: white;
    font-weight: bolder;
    font-size: 0.8rem;
    margin-top: auto;
    width: 35%;
  }
}

.steps-section {
  margin-top: 3rem;
}

.steps-section h1 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #e75744;
}

.steps-content {
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  border: 1px solid #80808046;
  padding: 2rem;
  text-align: center;
  margin: 1rem;
  min-height: 20rem;
}

.steps-content i {
  margin-top: 1rem;
  font-size: 2.5rem;
}

.steps-content h3 {
  margin: 1rem;
  font-size: 1.5rem;
}

.steps-content:hover, .steps-content:active {
  background-color: #d8f6fa;
}

.steps-grid {
  display: grid;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .steps-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .steps-grid {
    margin: auto;
    max-width: 70rem;
  }
}

body {
  font-family: Quicksand-Variable, sans-serif;
}

.m-auto {
  margin: auto;
}

.bg-red {
  background-color: #d14949;
}

.d-flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
/*# sourceMappingURL=styles.css.map */